#btnpdf {
  display: inline-block;
  overflow: hidden;
  position: relative;
  padding: 50px 80px 50px 80px;
  border 1px solid #999;
  background-color: #eee;
  text-align: center;
}

#btnpdf input[type="file"] {
  opacity: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
  font-size: 220px;
  cursor: pointer;
}

#btnpdf:hover {
   background-color: #aaa;
}
